h1{
    background-color: green;
    padding: 10px;
    color: white;
    text-align: center;
}
p{
    text-align: center;
    background-image:"https://static1.s123-cdn-static-a.com/ready_uploads/media/22060/2000_5cdbfee08c6d1.jpg"
}
#style1{
    text-align: center;
}